<div>
  <app-navbar></app-navbar>
  <div class="container animated fadeIn">
	<div class="row">
    <div class="col-sm-12">
        <legend style="color: #ff015d">Editar promovido:</legend>
    </div>
    <div *ngIf="spin==false && success==true" class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>!Excelente!</strong>{{mensajes}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div *ngIf="spin==false && error==true" class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>!Algo salió mal!</strong>{{mensajer}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div *ngIf="spin==true" class="mx-auto w-100 p-3" style="margin-left: 20%;margin-top: 13%;">
       <div class="loader mx-auto" *ngIf="spin==true"></div>
     </div>
    <form *ngIf="spin==false" (ngSubmit)="newprom(forma)" #forma="ngForm" class="needs-validation col-sm-12" novalidate>
<div  class="form-row">
<div class="col-md-3 mb-3">
  <label>Nombre(s)</label>
  <input type="text" class="form-control" [(ngModel)]="prom[0].nombre" autocomplete="off" (focus)="cambiarf(nombre)" [ngClass]="{invalid:errorin == 'nombre'}" placeholder="Ingrese nombre(s)" id="nombre" #nombre name="nombre" ngModel required>
  <div [ngClass]="{show:errorvac == 'nombre'}" id="errnombre" class="invalid-feedback">
    El nombre no puede estar vacio.
  </div>
  <div [ngClass]="{show:errorot == 'nombre'}" id="errnombreot" class="invalid-feedback">
    Ingresa un nombre correcto.
  </div>
</div>
<div class="col-md-3 mb-3">
  <label for="validationCustom02">Apellido paterno</label>
  <input type="text" class="form-control" id="validationCustom02" [(ngModel)]="prom[0].paterno" (focus)="cambiarf(paterno)" [ngClass]="{invalid:errorin == 'paterno'}" id="paterno" #paterno name="paterno" ngModel placeholder="Ingrese apellido paterno" required>
  <div [ngClass]="{show:errorvac == 'paterno'}" id="errpaterno" class="invalid-feedback">
    El apellido paterno no puede estar vacio.
  </div>
  <div [ngClass]="{show:errorot == 'paterno'}" id="errpaternoot" class="invalid-feedback">
    Ingresa un apellido paterno correcto.
  </div>
</div>
<div class="col-md-3 mb-3">
  <label for="validationCustomUsername">Apellido materno</label>
  <div class="input-group">
    <input type="text" class="form-control" id="materno" [(ngModel)]="prom[0].materno" (focus)="cambiarf(materno)" #materno name="materno" [ngClass]="{invalid:errorin == 'materno'}" ngModel placeholder="Ingrese apellido materno" aria-describedby="inputGroupPrepend" required>
    <div [ngClass]="{show:errorvac == 'materno'}" id="errmaterno" class="invalid-feedback">
      El apellido materno no puede estar vacio.
    </div>
    <div [ngClass]="{show:errorot == 'materno'}" id="errmaternoot" class="invalid-feedback">
      Ingresa un apellido materno correcto.
    </div>
  </div>
</div>
<div class="col-md-3 mb-3">
  <label for="validationCustomUsername">Sexo</label>
  <div class="input-group">
    <select class="form-control" id="sexo" (focus)="cambiarf(sexo)" [(ngModel)]="prom[0].sexo" #sexo name="sexo" [ngClass]="{invalid:errorin == 'sexo'}" ngModel aria-describedby="inputGroupPrepend" required>
      <option value="0">Seleccione sexo</option>
      <option value="Hombre">Masculino</option>
      <option value="Mujer">Femenino</option>
    </select>
    <div [ngClass]="{show:errorvac == 'sexo'}" class="invalid-feedback">
      Seleccione sexo
    </div>
  </div>
</div>
</div>
<div class="form-row">
<div class="col-md-4 mb-3">
  <label for="validationCustom03">Calle</label>
  <input type="text" class="form-control" id="calle" [(ngModel)]="prom[0].calle" (focus)="cambiarf(calle)" [ngClass]="{invalid:errorin == 'calle'}" #calle name="calle" ngModel placeholder="Ingrese calle" name="calle" required>
  <div [ngClass]="{show:errorvac == 'calle'}" id="errcalle" class="invalid-feedback">
    La calle no puede estar vacio.
  </div>
  <div [ngClass]="{show:errorot == 'calle'}" id="errcalleot" class="invalid-feedback">
    Ingresa una calle correcto.
  </div>
</div>
<div class="col-md-1 mb-3">
  <label for="validationCustom04">N° Interior</label>
  <input type="text" class="form-control" id="interior" [(ngModel)]="prom[0].interior" (focus)="cambiarf(interior)" [ngClass]="{invalid:errorin == 'interior'}" maxlength="5" #interior name="interior" ngModel placeholder="Int" name="interior" required>
  <div [ngClass]="{show:errorot == 'interior'}" id="errinteriorot" class="invalid-feedback">
    Debes de ingresar un número.
  </div>
</div>
<div class="col-md-1 mb-3">
  <label for="validationCustom05">N° Exterior</label>
  <input type="text" class="form-control" id="exterior" [(ngModel)]="prom[0].exterior" (focus)="cambiarf(exterior)" [ngClass]="{invalid:errorin == 'exterior'}" #exterior maxlength="5" name="exterior" ngModel placeholder="Ext" name="exterior" required>
  <div [ngClass]="{show:errorvac == 'exterior'}" id="errexterior" class="invalid-feedback">
    El número exterior no puede estar vacio.
  </div>
  <div [ngClass]="{show:errorot == 'exterior'}" id="errexteriorot" class="invalid-feedback">
    Debes de ingresar un número.
  </div>
</div>
<div class="col-md-6 mb-3">
  <label for="validationCustom05">Colonia</label>
  <!--<select class="form-control" id="colonia" (focus)="cambiarf(colonia)" [ngClass]="{invalid:errorin == 'colonia'}" (change)="changesec(colonia.value)" #colonia name="colonia" ngModel aria-describedby="inputGroupPrepend" required>
    <option value="0">Seleccione sección</option>
    <option *ngFor="let colonita of colonias" value="{{colonita.CLASIFICACION + ' ' + colonita.COLONIA}}">{{ colonita.COLONIA + " " + colonita.CLASIFICACION }}</option>
  </select>-->
  <input class="form-control" autocomplete="off" [(ngModel)]="searchText" id="colonia" (focus)="cambiarf(colonia)" (keydown)="yanoloquiero($event)" [ngClass]="{invalid:errorin == 'colonia'}" #colonia name="colonia" ngModel aria-describedby="inputGroupPrepend" required />
  <ul class="listita">
    <li *ngFor="let c of colonias | filter : searchText" (click)="setear(c.CLASIFICACION + ' ' + c.COLONIA)">
      {{c.CLASIFICACION +" "+ c.COLONIA}}
    </li>
  </ul>
  <div [ngClass]="{show:errorvac == 'colonia'}" id="errcolonia" class="invalid-feedback">
    La colonia no puede estar vacio.
  </div>
  <div [ngClass]="{show:errorot == 'colonia'}" id="errcoloniaot" class="invalid-feedback">
    Ingresa una colonia correcto.
  </div>
</div>
<div class="col-md-1 mb-3">
  <label for="validationCustom05">Edad</label>
  <input type="text" class="form-control" id="edad" [(ngModel)]="prom[0].edad" (focus)="cambiarf(edad)" [ngClass]="{invalid:errorin == 'edad'}" #edad name="edad" ngModel placeholder="Edad" name="edad" required>
  <div [ngClass]="{show:errorvac == 'edad'}" id="erredad" class="invalid-feedback">
    La edad no puede estar vacio.
  </div>
  <div [ngClass]="{show:errorot == 'edad'}" id="erredadot" class="invalid-feedback">
    Debes de ingresar un número.
  </div>
</div>
<div class="col-md-3 mb-3">
  <label for="validationCustom05">Fecha Nacimiento</label>
  <input type="date" class="form-control" id="validationCustom05" (change)="calcularedad(nac.value)" [(ngModel)]="prom[0].nac" #nac name="nac" ngModel required>
  <div class="invalid-feedback">
    Please provide a valid zip.
  </div>
</div>
<div class="col-md-3 mb-3">
  <label for="validationCustom05">Sección</label>
  <select class="form-control" id="seccion" (focus)="cambiarf(seccion)" [(ngModel)]="prom[0].seccion" [ngClass]="{invalid:errorin == 'seccion'}" (change)="elegirR(seccion.value)" #seccion name="seccion" ngModel aria-describedby="inputGroupPrepend" required>
    <option value="0">Seleccione sección</option>
    <option *ngFor="let seccion of secciones" value="{{seccion.seccion}}">{{seccion.seccion}}</option>
  </select>
  <div [ngClass]="{show:errorvac == 'seccion'}" class="invalid-feedback">
    Seleccione sección
  </div>
</div>
<div class="col-md-2 mb-3">
  <label for="validationCustom05">Teléfono</label>
  <input type="text" class="form-control" id="telefono" [(ngModel)]="prom[0].telefono" (focus)="cambiarf(telefono)" [ngClass]="{invalid:errorin == 'telefono'}" #telefono name="telefono" ngModel placeholder="10 digitos" maxlength="10" required>
  <div [ngClass]="{show:errorot == 'telefono'}" id="errtelefonoot" class="invalid-feedback">
    Debes de ingresar un número.
  </div>
</div>
<div class="col-md-3 mb-3">
  <label for="validationCustom05">Celular</label>
  <input type="text" class="form-control" id="celular" [(ngModel)]="prom[0].celular" (focus)="cambiarf(celular)" [ngClass]="{invalid:errorin == 'celular'}" #celular name="celular" ngModel placeholder="10 digitos" maxlength="10"  required>
  <div [ngClass]="{show:errorot == 'celular'}" id="errcelularot" class="invalid-feedback">
    Debes de ingresar un número.
  </div>
</div>
<div class="col-md-3 mb-3">
  <label for="validationCustom05">Correo</label>
  <input type="email" class="form-control" id="correo" [(ngModel)]="prom[0].correo" (focus)="cambiarf(correo)" [ngClass]="{invalid:errorin == 'correo'}" #correo name="correo" ngModel placeholder="Ingrese correo"  required>
  <div [ngClass]="{show:errorot == 'correo'}" id="errcorreoot" class="invalid-feedback">
    Debes de ingresar un correo valido.
  </div>
</div>
<div class="col-md-3 mb-3">
  <label for="validationCustom05">Facebook</label>
  <input type="text" class="form-control" id="validationCustom05" [(ngModel)]="prom[0].face" #face name="face" ngModel placeholder="Ingrese facebook"  required>
  <div class="invalid-feedback">
    Please provide a valid zip.
  </div>
</div>
<div class="col-md-3 mb-3">
  <label for="validationCustom05">Twitter</label>
  <input type="text" class="form-control" id="validationCustom05" [(ngModel)]="prom[0].twit" #twit name="twit" ngModel placeholder="Ingrese twitter" required>
  <div class="invalid-feedback">
    Please provide a valid zip.
  </div>
</div>
<div class="col-md-4 mb-3">
  <label for="validationCustom05">Responsable Municipal</label>
    <input type="text" class="form-control" id="municipal" (focus)="cambiarf(municipal)" [ngClass]="{invalid:errorin == 'municipal'}" [(ngModel)]="seccionales.Municipal" #respmun name="respmun" ngModel placeholder="Responsable Municipal"  required>
    <div [ngClass]="{show:errorvac == 'municipal'}" id="errmunicipal" class="invalid-feedback">
      El responsable municipal no puede estar vacio.
    </div>
    <div [ngClass]="{show:errorot == 'colonia'}" id="errmunicipalot" class="invalid-feedback">
      Ingresa un responsable municipal correcto.
    </div>
</div>
<div class="col-md-4 mb-3">
  <label for="validationCustom05">Responsable distrital</label>
  <input type="text" class="form-control" class="form-control" id="distrital" (focus)="cambiarf(distrital)" [ngClass]="{invalid:errorin == 'distrital'}" [(ngModel)]="seccionales.Distrital" #respdis name="respdis" ngModel placeholder="Responsable distrital"  required>
  <div [ngClass]="{show:errorvac == 'distrital'}" id="errdistrital" class="invalid-feedback">
    El responsable distrital no puede estar vacio.
  </div>
  <div [ngClass]="{show:errorot == 'distrital'}" id="errdistritalot" class="invalid-feedback">
    Ingresa un responsable distrital correcto.
  </div>
</div>
<div class="col-md-4 mb-3">
  <label for="validationCustom05">Responsable seccional</label>
  <input type="text" class="form-control" class="form-control" id="seccional" (focus)="cambiarf(seccional)" [ngClass]="{invalid:errorin == 'seccional'}" [(ngModel)]="seccionales.Seccional" #respsec name="respsec" ngModel placeholder="Responsable seccional"  required>
  <div [ngClass]="{show:errorvac == 'seccional'}" id="errseccional" class="invalid-feedback">
    El responsable seccional no puede estar vacio.
  </div>
  <div [ngClass]="{show:errorot == 'seccional'}" id="errseccionalot" class="invalid-feedback">
    Ingresa un responsable seccional correcto.
  </div>
</div>
<div class="col-md-4 mb-3">
  <label for="validationCustom05">Responsable de Red</label>
  <input type="text" class="form-control" class="form-control" id="red" (focus)="cambiarf(red)" [ngClass]="{invalid:errorin == 'red'}" #respred name="respred"  [(ngModel)]="seccionales.Red" ngModel placeholder="Responsable de red"  required>
  <div [ngClass]="{show:errorvac == 'red'}" id="errred" class="invalid-feedback">
    El responsable de red no puede estar vacio.
  </div>
  <div [ngClass]="{show:errorot == 'red'}" id="errredot" class="invalid-feedback">
    Ingresa un responsable de red correcto.
  </div>
</div>
<div class="col-md-4 mb-3">
  <label for="validationCustom05">Origen de Información</label>
  <input type="text" class="form-control" class="form-control" id="origen" [(ngModel)]="prom[0].origen" (focus)="cambiarf(origen)" [ngClass]="{invalid:errorin == 'origen'}" #origen name="origen" ngModel placeholder="Origen de información"  required>
  <div class="invalid-feedback">
    Please provide a valid zip.
  </div>
</div>
<div class="col-md-12 mb-3">
  <label for="validationCustom05">Observaciones</label>
  <textarea class="form-control textprom" placeholder="Observaciones" [(ngModel)]="prom[0].observaciones" #observaciones name="observaciones" ngModel></textarea>
</div>
</div>

<button class="btn btn-primary" style="background-color: #ff015d; border-color: #ff015d; float: right;" type="submit">Editar</button>
</form>

<script>


// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
'use strict';
window.addEventListener('load', function() {
// Fetch all the forms we want to apply custom Bootstrap validation styles to
var forms = document.getElementsByClassName('needs-validation');
// Loop over them and prevent submission
var validation = Array.prototype.filter.call(forms, function(form) {
  form.addEventListener('submit', function(event) {
    if (form.checkValidity() === false) {
      event.preventDefault();
      event.stopPropagation();
    }
    form.classList.add('was-validated');
  }, false);
});
}, false);
})();
</script>
	</div>
</div>
</div>
